# Dependency directories
node_modules/

# Local env files
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Build outputs
dist/
build/

# IDE / System configurations
.gemini/
.DS_Store
Thumbs.db
